:root{
    /* colors */
    --brand-color: #2196F3;
    --logo-color: #000000;
    --text-first: #212121;
    --text-second: #757575;
    --text-third-tlbgc: #FFFFFF;
    --header-line: #ECECEC;
    --bgc-ourcom: #F5F4FA; 
    --bgc-foot-hero: #2F303A;
    --adress-link: rgba(255, 255, 255, 0.6);
}

html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    font-family:'Roboto','Ralewey','sans-serif';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;  
    color: #212121; 
    margin: 0;
    max-width: 1600;
    
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15;
}


/* header */
/* nav */
/* logo */


.box-header{
    display: flex;
    background-color: var(--text-third-tlbgc);
    justify-content: space-between;
    outline: 2px solid rgb(252, 226, 226);
    background-color: rgb(0, 0, 0);
}

.box-nav{
    display: flex;
    align-items: center;
    outline: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
}

.header-link{
    outline: 2px solid rgb(142, 22, 22);
    background-color: rgb(15, 7, 253);
    padding: 24px 68px 25px 0px;
}


.logo-web{
    color:var(--brand-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;  
}

.logo-header{
    color:var(--logo-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}


    
/* header-items */
.header-items{
    display: flex;
    align-items: center;
    outline: 2px solid rgb(142, 22, 118);
    background-color: rgb(0, 255, 136);
}

.header-item {
    color:var(--text-first);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding: 32px 25px 32px 25px;
}

.header-item:hover,:focus{
    color:var(--brand-color);
}

/* header-contact */

.box-contacts{
    display: flex;
    align-items: center;
    outline: 2px solid rgb(32, 22, 142);
    background-color: rgb(160, 233, 233);
}


.mail {
    color: var(--text-second);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.phone {
    color: var(--text-second);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-left: 50px;
}

.mail,
.phone :hover,:focus{
    color: var(--brand-color);
}


/* main */
/* hero */
.hero {
    background-color: var(--bgc-foot-hero);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-third-tlbgc);
    margin-bottom: 30px;

}

.button-hero{
    background-color: var(--brand-color);
    color: var(--text-third-tlbgc);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}  


/* секція особливості/features */
.features-title{
    color:var(--text-first);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em; 
    text-transform: uppercase;  
}

.features-text{
    color: var(--text-second);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* чем мьі занимаемся/діяльність/activity */

.activity-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* наша команда */
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;    
}
.teamcard{
    font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
}
.teamcard-text{
    color: var(--text-second);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* page2 portfolio */

.button{
    color: var(--text-first);
    background-color: var(--bgc-ourcom);
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.button:hover,:focus{    
    background-color: var(--brand-color);
    color:var(--text-third-tlbgc);
}

.project-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type{
    color: var(--text-second);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}




/* footer */
.footer{
    background-color: var(--bgc-foot-hero);
}
.logo-web{
    color:var(--brand-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-footer{
    color: var(--text-third-tlbgc);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

address {
    font-style: normal;
}

.adress-text{
    color: var(--text-third-tlbgc);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
}
.adress-link{
    color: var(--adress-link);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.adress-link:hover,:focus{
    color: var(--brand-color);
}